@import 'config.scss';

.mini-title {
	align-self: flex-start;
	margin: 0 auto;
	position: relative;
	display: inline-block;

	ion-icon {
		display: inline-block;
		vertical-align: middle;
		transform: translateY(-3px);
		cursor: pointer;
	}
}

.page-arrows {
	display: flex;
	gap: 25px;

	.arrow-left,
	.arrow-right {
		font-size: 28px;
		cursor: pointer;
	}
}

.ficha-wrapper-1 {
	display: flex;

	.ficha-info-left {
		display: flex;
		gap: 25px;

		.ficha-about {
			width: 250px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 25px;

			.ficha-item {
				width: 100%;
				max-width: 250px;

				input {
					border: 0;
					background-color: #202020;
					border-radius: $borderRadius;
					color: #ccc;
				}
				p {
					color: white;
				}
			}
		}
	}

	.ficha-info-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		.ficha-info-image {
			width: 180px;
			height: 180px;
			margin-bottom: 15px;

			img {
				width: 180px;
				height: 180px;
				object-fit: cover;
				object-position: top;
				border-radius: 50%;
				border: 1px solid rgba(0, 0, 0, 0.3);
			}
		}
		.ficha-bars {
			display: flex;
			min-width: 350px;
			width: 100%;
			max-width: 525px;
			align-items: flex-end;
			flex-direction: column;
			gap: 5px;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			margin-bottom: 7px;

			.bar-single-container {
				width: 100%;

				.bar-info {
					display: flex;
					justify-content: space-between;

					p {
						font-size: 14px;
						color: #ccc;
					}
					.bar-arrows {
						display: flex;
						align-items: center;

						span {
							color: #ccc;
						}	
					}
				}
				.arrow-button {
					cursor: pointer;
					display: inline-block;
					vertical-align: top;
					font-size: 18px;

					&:nth-of-type(1) {
						left: -20px;
					}
					&:nth-of-type(2) {
						right: -20px;
					}
				}
				.bar-single-wrapper {
					display: inline-block;
					width: 100%;
					height: 25px;
					background-color: #3c3c3c;
					border-radius: $borderRadius;
					position: relative;
					text-align: center;

					.bar-single {
						@extend .bar-single-wrapper;
						position: absolute;
						top: 0;
						left: 0;
						width: 0px;
						transition: width 1s;
					}
					#bar-single-vida {
						background-color: #a70404;
					}
					#bar-single-sanidade {
						background-color: #562b7e;
					}
					#bar-single-esforco {
						background-color: #ce7522;
					}
					span {
						position: absolute;
						z-index: 2;
						top: 50%;
						transform: translate(-50%, -50%);
						color: white;
						font-size: 16px;
					}
				}
			}
		}
		.ficha-defense-container {
			display: flex;
			width: 100%;
			max-width: 525px;
			justify-content: space-between;

			div {
				display: flex;
				flex-direction: column;
				color: #ccc;
				width: 76px;
				text-align: center;

				p {
					font-weight: bold;
					font-size: 14px;
				}
				h3 {
					border: 1px solid #535353;
					text-align: center;
				}
			}
		}
	}
}

.ficha-wrapper-2 {
	display: flex;
	gap: 25px;
	align-items: flex-start;
	justify-content: center;

	.attributes-wrapper {
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		.ficha-attributes {
			position: relative;
			align-self: flex-start;

			img {
				width: 300px;
			}
			.ficha-attributes-single {
				cursor: pointer;
				position: absolute;
				font-size: 30px;
				color: #f7f7f7;
				width: 77px;
				height: 77px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				text {
					font-family: 'Hebrew' !important;
				}
				&:hover {
					color: red;
					box-shadow: 0px 0px 10px red, inset 0px 0px 20px red;
				}
			}
			#agi {
				left: 37%;
				top: 13%;
			}
			#int {
				left: 67.5%;
				top: 28.5%;
			}
			#vig {
				left: 60%;
				top: 63%;		
			}
			#pre {
				left: 15%;
				top: 63.5%;
			}
			#for {
				left: 7%;
				top: 28.5%;
			}
		}
	}

	.skills-wrapper {
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		min-width: 300px;

		.skills-container {
			display: flex;
			flex-wrap: wrap;
			gap: 25px;
			align-items: center;
			justify-content: center;
	
			.skill-single {
				width: 120px;
				height: 130px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				background-color: #202020;
				clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
				cursor: pointer;
				transition: 0.2s;
	
				&:hover {
					transform: scale(1.05);
					filter: invert(1);
				}
				p {
					height: 35px;
					font-size: 14px;
					color: #ccc;
					font-family: 'Hebrew' !important;
					margin-bottom: -20px;
				}
				span {
					color: #ccc;
					font-size: 42px;
					font-family: 'Hebrew' !important;
				}
			}
		}
	}
}

.powers-wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	width: 100%;
	padding: 25px 10%;
	border-radius: $borderRadius;
	background-color: #202020;
	
	.powers-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid rgba(90, 90, 90, 0.3);

		tr {
			transition: 0.2s;

			&:hover {
				background-color: #535353;
			}
		}
		td {
			padding: 8px 25px;

			h3 {
				font-weight: bold;
				margin-bottom: 5px;
				font-size: 16px;
			}
			div {
				display: inline-block;
				height: 22px;
				width: 100%;
				position: relative;
				
				p {
					font-size: 14px;
					position: absolute;
					color: #ccc;
					overflow: hidden;
					width: 100%;
					white-space: nowrap; 
					text-overflow: ellipsis;
				}
			}
		}
		.power-edit {
			text-align: right;
			font-size: 22px;
			width: 100px;

			ion-icon {
				cursor: pointer;
			}
		}
	}
}

.inventory-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	padding: 25px 10%;
	background-color: #202020;
	border-radius: $borderRadius;

	h2 {
		margin-bottom: 15px;
	}
	.inventory {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid rgba(90, 90, 90, 0.3);;

		thead th {
			color: white;
			border-bottom: 1px solid rgba(90, 90, 90, 0.3);;
		}
		tr {
			transition: 0.2s;

			&:hover {
				background-color: #535353;
			}
		}
		th,
		td {
			text-align: left;
			padding: 5px 10px;
			color: #ccc;
		}
		.inventory-edit {
			text-align: center;

			ion-icon {
				font-size: 22px;
				cursor: pointer;
			}
		}
	}
}

.ficha-create {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	padding-top: 25px;

	button {
		align-self: flex-start;
		margin: 25px auto;
		background-color: #f83c3c;
		box-shadow: 0px 0px 3px #f83c3c;
		width: 200px;
		height: 50px;
		font-size: 20px;
		text-transform: uppercase;

		&:hover {
			color: white;
			background-color: #ff0000;
			box-shadow: 0px 0px 3px #ff0000;
		}
	}
}

@media screen and(max-width: 1120px) {
	.ficha-wrapper-1 {
		flex-direction: column !important;
		margin-bottom: 50px;

		.ficha-info-right {
			align-items: center;
			order: 1;
			padding: 25px 5%;

			.ficha-bars {
				padding: 0;
				min-width: 0px;
			}
		}
		.ficha-info-left {
			justify-content: center;
			order: 2;
			padding: 25px 5%;
		}
	}

	.ficha-wrapper-2 {
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		.attributes-wrapper {
			padding: 25px 5%;
		}
		.skills-wrapper {
			padding: 25px 5%;
		}
	}

	.inventory-container,
	.powers-wrapper {
		padding: 25px 5%;
	}
}

@media screen and(max-width: 1024px) {
	.inventory {
		border: none !important;
	}
	.inventory thead {
		display: none;
	}
	.inventory, .inventory tbody, .inventory tr, .inventory td {
		display: block;
		width: 100%;
	}
	.inventory tr {
		margin: 10px 0;
		border: 1px solid rgba(90,90,90,0.3);
	}
	.inventory td {
		margin: 5px 0;
		text-align: right !important;
		padding-left: 50%;
		position: relative;
		&:last-child {
			text-align: center !important;
		}
	}
	.inventory td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-weight: bold;
		text-align: left !important;
	}
}