@import 'config.scss';

.mini-title {
	position: relative;
	display: inline-block;

	ion-icon {
		display: inline-block;
		vertical-align: middle;
		transform: translateY(-3px);
		cursor: pointer;
	}
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 170%;
		height: 1px;
		background-color: #ccc;
		top: -2px;
		right: 50%;
		transform: translateX(50%);
	}
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		width: 150%;
		height: 1px;
		background-color: #ccc;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.page-arrows {
	display: flex;
	gap: 25px;

	.arrow-left,
	.arrow-right {
		font-size: 28px;
		cursor: pointer;
	}
}

.ficha-wrapper-1 {
	display: flex;

	.ficha-info-left {
		display: flex;
		gap: 25px;

		.ficha-about {
			width: 250px;
			display: flex;
			flex-direction: column;
			gap: 25px;

			.ficha-item {
				width: 100%;
				max-width: 250px;

				input {
					background-color: #202020;
					border-radius: $borderRadius;
					color: #ccc;
					font-family: 'Hebrew' !important;
				}
				p {
					color: white;
					font-family: 'Hebrew' !important;
				}
			}
		}
	}

	.ficha-info-right {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-direction: column;
		gap: 25px;

		.ficha-info-image {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, 0.3);
			background-image: url('../images/alexandre.png');
			background-size: cover;
			background-position: center;
		}
		.ficha-bars {
			padding: 0 15px;
			display: flex;
			min-width: 350px;
			width: 100%;
			align-items: flex-end;
			flex-direction: column;
			gap: 5px;

			.bar-single-container {
				width: 100%;

				.bar-info {
					display: flex;
					justify-content: space-between;

					p {
						font-size: 14px;
						color: #ccc;
					}
					.bar-arrows {
						display: flex;
						align-items: center;

						span {
							color: #ccc;
						}	
					}
				}
				.arrow-button {
					cursor: pointer;
					display: inline-block;
					vertical-align: top;
					font-size: 18px;

					&:nth-of-type(1) {
						left: -20px;
					}
					&:nth-of-type(2) {
						right: -20px;
					}
				}
				.bar-single-wrapper {
					display: inline-block;
					width: 100%;
					height: 25px;
					background-color: #3c3c3c;
					border-radius: $borderRadius;
					position: relative;
					text-align: center;

					.bar-single {
						@extend .bar-single-wrapper;
						position: absolute;
						top: 0;
						left: 0;
						width: 25%;
						background-color: red;
					}
					span {
						position: absolute;
						z-index: 2;
						top: 50%;
						transform: translate(-50%, -50%);
						color: white;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.ficha-wrapper-2 {
	display: flex;
	gap: 25px;
	align-items: flex-start;
	justify-content: center;

	.attributes-wrapper {
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		
		.ficha-attributes {
			position: relative;
			align-self: flex-start;

			img {
				width: 300px;
			}
			.ficha-attributes-single {
				cursor: pointer;
				position: absolute;
				font-size: 30px;
				color: #f7f7f7;
				font-family: 'Hebrew' !important;

				&:hover {
					color: red;

					&::before {
						box-shadow: 0px 0px 10px red, inset 0px 0px 20px red;
					}
				}
				&::before {
					content: '';
					width: 77px;
					height: 77px;
					border-radius: 50%;
					position: absolute;
				}
			}
			#agi {
				left: 47.5%;
				top: 18%;

				&::before {
					top: -19px;
					left: -30.5px;
				}
			}
			#int {
				left: 78%;
				top: 34%;

				&::before {
					top: -20px;
					left: -31px;
				}
			}
			#vig {
				left: 70%;
				top: 69%;

				&::before {
					top: -20px;
					left: -30px;
				}		
			}
			#pre {
				left: 24%;
				top: 69%;

				&::before {
					top: -20px;
					left: -28px;
				}
			}
			#for {
				left: 17%;
				top: 34%;

				&::before {
					top: -20px;
					left: -29px;
				}
			}
		}
	}

	.skills-wrapper {
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;

		.skills-container {
			display: flex;
			flex-wrap: wrap;
			gap: 25px;
			align-items: center;
			justify-content: center;
	
			.skill-single {
				width: 100%;
				max-width: 120px;
				height: 130px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				background-color: #202020;
				clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
				cursor: pointer;
				transition: 0.2s;
	
				&:hover {
					transform: scale(1.05);
					filter: invert(1);
				}
				p {
					height: 35px;
					font-size: 14px;
					color: #ccc;
					font-family: 'Hebrew' !important;
				}
				input {
					width: 80px;
					border-radius: $borderRadius;
					border: 0;
					background-color: transparent;
					color: #ccc;
					font-size: 42px;
					text-align: center;
					font-family: 'Hebrew' !important;
				}
			}
		}
	}
}

.powers-wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	width: 100%;
	padding: 25px 10%;
	border-radius: $borderRadius;
	background-color: #202020;
	
	.powers-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid rgba(90, 90, 90, 0.3);

		tr {
			transition: 0.2s;

			&:hover {
				background-color: #535353;
			}
		}
		td {
			padding: 8px 25px;

			h3 {
				font-weight: bold;
				margin-bottom: 5px;
				font-size: 16px;
			}
			p {
				font-size: 14px;
				color: #ccc;
			}
		}
		.power-edit {
			text-align: right;
			font-size: 22px;

			ion-icon {
				cursor: pointer;
			}
		}
	}
}

.inventory-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	padding: 25px 10%;
	background-color: #202020;
	border-radius: $borderRadius;

	h2 {
		margin-bottom: 15px;
	}
	.inventory {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid rgba(90, 90, 90, 0.3);;

		thead th {
			color: white;
			border-bottom: 1px solid rgba(90, 90, 90, 0.3);;
		}
		tr {
			transition: 0.2s;

			&:hover {
				background-color: #535353;
			}
		}
		th,
		td {
			text-align: left;
			padding: 5px 10px;
			color: #ccc;
		}
		.inventory-edit {
			text-align: center;

			ion-icon {
				font-size: 22px;
				cursor: pointer;
			}
		}
	}
}

@media screen and(max-width: 1120px) {
	.ficha-wrapper-1 {
		flex-direction: column !important;
		margin-bottom: 50px;

		.ficha-info-right {
			align-items: center;
			order: 1;
			padding: 25px 5%;

			.ficha-bars {
				padding: 0;
			}
		}
		.ficha-info-left {
			justify-content: center;
			order: 2;
			padding: 25px 5%;
		}
	}

	.ficha-wrapper-2 {
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		.attributes-wrapper {
			padding: 25px 5%;
		}
		.skills-wrapper {
			padding: 25px 5%;
		}
	}

	.inventory-container,
	.powers-wrapper {
		padding: 25px 5%;
	}
}